<p>Host: {{host.summary.config.name || "Loading..."}}</p>

<div>
	<h3>General</h3>
	<table class="table">
		<tr>
			<td>
			Cpu: {{host.summary.quickStats.overallCpuUsage}} MHz / {{host.summary.hardware.numCpuCores}} CPUs x {{host.summary.hardware.cpuMhz}} MHz
			<br />
			<div class="progress">
				<div class="progress-bar" role="progressbar" aria-valuenow="{{cpuPercent}}" aria-valuemin="0" aria-valuemax="100" style="width: {{cpuPercent}}%;"></div>
			</div>
			</td>
		</tr>
		<tr>
			<td>
			Memory: {{host.summary.quickStats.overallMemoryUsage | roundMemory}} MB / {{host.summary.hardware.memorySize | roundMemory:2}} MB
			<br />
			<div class="progress">
				<div class="progress-bar" role="progressbar" aria-valuenow="{{memPercent}}" aria-valuemin="0" aria-valuemax="100" style="width: {{memPercent}}%;"></div>
			</div>
			</td>
		</tr>
		<tr>
			<th>Model</th>
			<td>{{host.summary.hardware.model || ""}}</td>
		</tr>
		<tr>
			<th>Processor Type</th>
			<td>{{host.summary.hardware.cpuModel}}</td>
		</tr>
		<tr>
			<th>Logical Processors</th>
			<td>{{host.summary.hardware.numCpuCores}}</td>
		</tr>
		<tr>
			<th>NICs</th>
			<td>{{host.summary.hardware.numNics}}</td>
		</tr>
		<tr>
			<th>Virtual Machines</th>
			<td>{{host.vm.ManagedObjectReference.length}}</td>
		</tr>
		<tr>
			<th>State</th>
			<td>{{host.summary.runtime.connectionState | camelcaseToSpace | ucwords}}</td>
		</tr>
		<tr>
			<th>Uptime</th>
			<td>{{host.summary.quickStats.uptime | timeWords}}</td>
		</tr>
	</table>
</div>
<div>
	<h3>Hardware</h3>
	<table class="table">
		<tr>
			<th>Manufacture</th>
			<td>{{host.summary.hardware.vendor || ""}}</td>
		</tr>
		<tr>
			<th>Model</th>
			<td>{{host.summary.hardware.model || ""}}</td>
		</tr>
		<tr>
			<th>CPU</th>
			<td>{{host.summary.quickStats.overallCpuUsage}} MHz / {{host.summary.hardware.numCpuCores}} CPUs x {{host.summary.hardware.cpuMhz}} MHz</td>
		</tr>
		<tr>
			<th>Memory</th>
			<td>{{host.summary.quickStats.overallMemoryUsage | roundMemory}} MB / {{host.summary.hardware.memorySize | roundMemory:2}} MB</td>
		</tr>
		<tr>
			<th>Networking</th>
			<td>{{host.summary.config.name}}</td>
		</tr>
		<tr>
			<th>Storage</th>
			<td>{{host.datastore.ManagedObjectReference.length}} Datastores(s)</td>
		</tr>
	</table>
</div>
<div>
	<h3>Configuration</h3>
	<table class="table">
		<tr>
			<th>ESX Version</th>
			<td>{{host.summary.config.product.name}} {{host.summary.config.product.version}}, {{host.summary.config.product.build}}</td>
		</tr>
		<tr>
			<th>vMotion Enabled</th>
			<td>{{host.summary.config.vmotionEnabled ? "Yes" : "No"}}</td>
		</tr>
		<tr>
			<th>vSphere HA State</th>
			<td>{{host.summary.quickStats.overallMemoryUsage | roundMemory}} MB / {{host.summary.hardware.memorySize | roundMemory:2}} MB</td>
		</tr>
		<tr>
			<th>Host Configuration for FT</th>
			<td>{{host.summary.config.name}}</td>
		</tr>
		<tr>
			<th>EVC Mode</th>
			<td>{{host.datastore.ManagedObjectReference.length}} Datastores(s)</td>
		</tr>
	</table>
</div>