<p>Total Vms: {{totalVms}}</p>

<table class="table">
<thead>
	<tr>
		<th colspan="2">Name</th>
		<th>Host CPU</th>
		<th>Guest Mem</th>
		<th class="hidden-xs hidden-sm">Host Mem</th>
		<th>Disk Space</th>
	</tr>
</thead>
<tbody>

</tbody>
<tr data-ng-repeat="vm in vmList | orderBy:'info.config.name'" class="ng-class:vm.info.runtime.powerState">
	<td>
		<i class="icon-desktop"></i>
		<a data-ng-href="#/vm/{{vm.id}}">{{vm.info.config.name || 'Loading...'}}</a>
	</td>
	<td>
		{{vm.info.runtime.powerState}}
		<a href="" data-ng-if="vm.info.runtime.powerState != 'poweredOn'" data-ng-click="powerOn(vm)" data-prevent-default="">
			<i class="icon-play"></i>Power On
		</a>
		<a href="" data-ng-if="vm.info.runtime.powerState == 'poweredOn'" data-ng-click="powerOff(vm)" data-prevent-default="">Power Off</a>
		<a href="" data-ng-if="vm.info.runtime.powerState == 'poweredOn'" data-ng-click="shutdownGuest(vm)" data-prevent-default="">Shutdown Guest</a>
	</td>
	<td class="text-right">
		{{vm.info.summary.quickStats.overallCpuUsage || '0'}} MHz
	</td>
	<td class="text-right">
		{{vm.info.summary.quickStats.guestMemoryUsage || '0'}} MB
	</td>
	<td class="text-right hidden-xs hidden-sm">
		{{vm.info.summary.quickStats.hostMemoryUsage || '0'}} MB
	</td>
	<td class="text-right">
		{{vm.info.summary.storage.committed / (1024 * 1024 * 1024) | number:2}} GB 
		<span class="hidden-xs hidden-sm">/ {{vm.info.summary.storage.uncommitted / (1024 * 1024 * 1024) | number:2}} GB</span>
	</td>
</tr>
</tbody>
</table>
