/****************************************************************
 * Angular directives
 ****************************************************************/
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
/****************************************************************
 * Bootstrap overrides
 ****************************************************************/
[role="main"] {
	margin-top: 60px;
}
.container {
	max-width: none !important;
}